*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
 
body{
    background:#f5f7fb;
}

.testimonial{
    width:90%;
    margin:auto;
    text-align:center;
    padding:60px 0;
}
.sub{
    color:gray;
    margin-bottom:50px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    background:rgb(249, 255, 254);
    width:320px;
    padding:30px 25px;
    border-radius:12px;
    position:relative;
    transition:.3s;
}

.quote{
    width:60px;
    height:60px;
    background:#78e5ec;
    position:absolute;
    top:0;
    right:0;
    border-bottom-left-radius:30px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.quote i{
    color:white;
    font-size:22px;
}

.card h3 {
    color: rgb(16, 81, 222);
}
.stars {
    color: #e9e113;
}
 .card h1{
    margin:15px 0 10px;
    font-size:24px;
    align-items: top;
}

span {
    color: chocolate;
}
.card p{
    color:#555;
    line-height:1.8;
    text-align:left;
}

.testimonial h1{
    color:#1f4ca8;
    font-size:40px;
    margin-bottom:10px;
}


.services-grid{
    width:90%;
    margin:30px auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px 40px;
}

.service-item{
    display:flex;
    align-items:flex-start;
    gap:18px;
    padding:15px;
    border-radius:12px;
    transition:all .3s ease;
    cursor:pointer;
}



.service-item:hover .service-icon{
    background:#ff5722;
    color:#fff;
}

.service-item:hover .service-content h3{
    color:#dc6440;
}


.service-icon{
    width:55px;
    height:55px;
    min-width:55px;
    border-radius:50%;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    color:#222;
    box-shadow:0 5px 15px rgba(0,0,0,.12);
    transition:all .3s ease;
}



h1 {
    text-align: center;
}

.service-content h3{
    margin:0;
    font-size:22px;
    font-weight:700;
    color:#111;
    transition:.3s;
}

.service-content p{
    margin-top:8px;
    color:#666;
    font-size:15px;
    line-height:1.6;
}


@media(max-width:992px){
    .services-grid{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:768px){
    .services-grid{
        grid-template-columns:1fr;
    }
}



